:root {
   
    --text-color : #333;
    --white-color: #fff;
    --primary-color: #fab260;
    --border-color: #d2d6d5;
    --box-shadow-style: 0 1px 3px rgb(231, 228, 228);
    
}
.clear{
    clear: both;
}
.font-baloo{
    font-family: 'Baloo 2', cursive;
}
.font-nunito {
    font-family: 'Nunito', sans-serif;
}
* {
    box-sizing: inherit;
}
a{
    text-decoration: none;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Nunito', sans-serif;
    scroll-behavior : smooth
}

.btn{
    background-image: linear-gradient(45deg, #ffbe76 ,#f0932b);
    color: #fff;
    font-size: 1.4rem;
    padding: 8px 0px;
    min-width: 101px;
    outline: none;
    border: none;
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
}


.btn--yellow{
    background-image: linear-gradient(45deg , #f3dc67 , 
    #ff9e05);
}



.btn:hover{
    opacity: 0.9;
}

.btn--blue{
    background-image: linear-gradient(0 , #1bbc9b , #028a6f);
}

.btn--gray {
    background-color: #e8a87c;

}

.btn--more{
    position: relative;
    bottom: -54px;
    right: -50.4%;
    min-width: 250px;
    transform: translateX(-50%);
}

